<% if @projects.length > 0 %>
  <% @projects.each do |project| %>
    <%= link_to project, class: "search-link" do %>
      <div class="project">
        <div class="logo">
          <%= image_tag(project.logo.url(:thumb), class: "logo-image") %>
        </div>
        <div class="text">
          <div class="name"><%= project.name %></div>
          <div class="description">
            <%= project.headline %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>