<div class="notification-dropdown hidden">
  <div class="notification-dropdown-arrow-container">
    <div class="notification-dropdown-arrow"></div>
  </div>
  <div class="notification-dropdown-content">
    <div class="notification-dropdown-header">
      Notifications
    </div>
    <%= render "icons/notification_big" %>
    <pre class="notification-hint">
      Here you will see when someone:
       -  gives you advice or replies to your help</pre>
        <div class="and">and</div>
    <pre class="notification-hint">
       -  likes either your project or help
    </pre>
  </div>
</div>