<div class="settings-dropdown">
  <div class="settings-dropdown-arrow-container">
    <div class="settings-dropdown-arrow"></div>
  </div>
  <div class="settings-dropdown-content">
    <div class="settings-dropdown-link-container">
      <%= link_to "Add a new project", new_project_path, :class => "settings-dropdown-link settings-dropdown-link-primary" %>
    </div>
    <div class="settings-dropdown-link-container">
      <%= link_to "Settings", edit_user_registration_path, :class => "settings-dropdown-link" %>
    </div>
    <div class="settings-dropdown-link-container">
      <%= link_to "Log out", destroy_user_session_path, { :class => "settings-dropdown-link", :method => :delete } %>
    </div>
  </div>
</div>