<div class="notification">
  <%= image_tag(activity.owner.avatar.url(:thumb), class: "avatar") %>
  <div class="content">
    <%= link_to activity.owner.name, activity.owner %>
    gave feedback on
    <%= link_to activity.trackable.project.name, activity.trackable.project %> .
  </div>
</div>